* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(238, 237, 237);
}
main {
    margin: auto;
    width: 50%;
}

h1,h2,h3,h4,li,ul,p,div {
    color: rgb(45, 45, 45);
}
header {
    display: flex;
    width: 70%;
    margin: auto;    
}

header h4 {
    margin: auto;
    float:right;
}
header h3 {
    margin: auto 0 50px 0;   
}
.startBtn {
    display: block;
    width: 200px;
    height: 50px;
    margin: 1%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 8px;
    background-color: #093145;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: whitesmoke;

}
.startBtn:hover{
    background-color: blueviolet;
}
.quizQuestion {
    display: block;
    width: 200px;
    height: 30px;
    margin: 1% 0 0 -30px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 6px;
    background-color: #1d0254;
    text-align: left;
    font-size: 15px;
    padding: 10px 10px 10px 30px;
    line-height: 30px;
    color: whitesmoke;
}

.scoreButton {
    display: inline-flex;
    width: 150px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 6px;
    background-color: #743e01;
    text-align: left;
    font-size: 15px;
    padding: 10px 10px 10px 30px;
    line-height: 20px;
    color: whitesmoke;
}
.scoreButton:hover{
    background-color: #014074;
}

.quizQuestion:hover{
    background-color: #3904a2;
}

#result {
    border-color: rgb(1, 68, 68);  
    font-style: italic;
    font-size: 15px;
    color: burlywood;
}